/**
All common css
*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: robotBold;
    src: url(fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: robotBoldItalic;
    src: url(fonts/RobotoCondensed-BoldItalic.ttf);
}

@font-face {
    font-family: robotItalic;
    src: url(fonts/RobotoCondensed-Italic.ttf);
}

@font-face {
    font-family: robotLight;
    src: url(fonts/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: robotLightItalic;
    src: url(fonts/RobotoCondensed-LightItalic.ttf);
}
@font-face {
    font-family: regular;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}
body {
    font-family: regular;
    color: #fff;
}

/*
    common css
*/

ol,ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}
.img {
    width: 100%;
    height: auto;
}

.wrapper-full {
    width: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}
.clr {
    clear: both;
}
/* header style */

header {
    padding: 5px 0px;
    overflow-x: hidden;
    background-color: #1c2835;
    position: fixed;
    border-bottom: 1px solid #2c2e2f;
}
header .wrapper .header-menu {
    width: 100%;
}

header .wrapper .header-menu .logo,
header .wrapper .header-menu .search-form {
    float: left;
}
header .wrapper .header-menu .menu-list {
    float: right;
    display: flex;
}
header .wrapper .header-menu .logo {
    display: inline-block;
    width: 70px;
    align-items: center;
}

header .wrapper .header-menu .menu-list li {
  display: inline-block;
}
header .wrapper .header-menu .menu-list li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
}
header .wrapper .header-menu .menu-list  .user-logo {
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    
}
header .wrapper .header-menu .menu-list  .user-logo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

/* serach form style  */
header .wrapper .header-menu .search-form {
    width: 150px;
    margin-left: 20px;
    position: relative;
}
header .wrapper .header-menu .search-form input[type=text] {
    width: 100%;
    padding: 6px 20px;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    margin: 5px 0px;
    border-radius: 4px
}
header .wrapper .header-menu .search-form input[type=text]:focus {
    border: 1px solid rgb(224, 224, 224);
    outline: none;
}
header .wrapper .header-menu .search-form button {
    position: absolute;
    right: -35px;
    top: 10px;
    font-family: robotLight;
    font-size: 15px;
    z-index: 99;
    display: inline-block;
    background: transparent;
    border: none;
}
header .wrapper .header-menu .search-form button i {
    color: rgb(189, 188, 188);
}

/* header style end */

.banner-section {
    height: 100vh;
    background-color: #161f29;
    color: #fff;
    
}